
.thankyou{
  width: 500px;
  box-sizing: border-box;
  line-height: 1.6;
}

.number{
  line-height: 1.6;
}

.header{
  background-image: linear-gradient(to right, rgb(19, 22, 68) , rgb(7, 7, 1));
  background-size: 100% 70%;
  background-repeat: no-repeat;
}

#coupon{
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#voucher{
  border-radius: 25px;
  height: 50px;
  width: 300px;
  font-weight: bold;
  border:none;
  color: white;
}

button:disabled{
  background-color: #c8ccca;
  cursor: not-allowed;
}

button:enabled{
  background-color: rgb(12, 158, 216);
  box-shadow: 0 4px 8px 0 rgb(12, 158, 216);
  cursor: pointer;
}

.greetings{
  font-size: 35px;
  background: linear-gradient(to right,#d81375,rgb(197, 43, 128),rgb(209, 11, 160),rgb(209, 11, 160),rgb(209, 11, 160),rgb(219, 135, 8),#f38609,rgb(219, 101, 22),rgb(233, 102, 14),rgb(233, 102, 14));
  background-clip: text;
  color: transparent;
}

#whatsapp, #card, #cancel{
  float: left;
  padding-top:20px;
}

#disclaimer{
  font-size: x-small;
}
